---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
---

<Layout title="Monster Hunter Codex">  
  <Navigation />
  <Header />
  <main class="dshunter-home">
    <section class="section">
      <div class="container">
        <h1 class="title">Teste - Monster Hunter Codex</h1>
        <p>Se você está vendo esta mensagem, o Astro está funcionando corretamente.</p>
      </div>
    </section>
  </main>
</Layout>
