---
export interface Props {
  title: string;
  icon: string;
  items: string[];
  itemIcons?: Record<string, string>;
  itemNames?: Record<string, string>;
}

const { title, icon, items, itemIcons = {}, itemNames = {} } = Astro.props;
---

{items && items.length > 0 && (

    
    <section class="media columns p-1 m-1">
      <figure class="media-left is-64x64 column ">
        <picture class="image is-64x64 has-text-centered">
          <i class={`ra ${icon} has-text-centered`}></i>
          <legend class="has-text-centered">{title}</legend>
        </picture>
      </figure>
      <div class="media-content column">
        <div class="content is-flex is-align-items-center">
          {items.map((item: string) => (
            <p class="tag is-black is-medium p-1 m-1">
              <i class={`ra ${itemIcons[item] || icon}`}></i>
              <span class="">{itemNames[item] || item}</span>
            </p>
          ))}
        </div>
      </div>
    </section>
)}
